<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710916847924-015vd9l7tjsol5r0sqmvfurmmasobabq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710916847924-015vd9l7tjsol5r0sqmvfurmmasobabq</string>
	<key>API_KEY</key>
	<string>AIzaSyB1UEfJuqE2N63o0DlswZbxFg9By9VVPsc</string>
	<key>GCM_SENDER_ID</key>
	<string>710916847924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.era.registration</string>
	<key>PROJECT_ID</key>
	<string>registration-66062</string>
	<key>STORAGE_BUCKET</key>
	<string>registration-66062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:710916847924:ios:0338e1a64e4e4f4ab04d61</string>
</dict>
</plist>
